<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Grassroots</title>
    


   <!-- Analytics -->

<script>
// Define dataLayer and the gtag function.
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}

// Set default consent to 'denied' as a placeholder
// Determine actual values based on your own requirements
gtag('consent', 'default', {
  'ad_storage': 'denied',
  'ad_user_data': 'denied',
  'ad_personalization': 'denied',
  'analytics_storage': 'denied'
});
</script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9RQFH7EWX4">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}

  gtag('js', new Date());
  gtag('config', 'G-9RQFH7EWX4');
</script>

<!-- Create one update function for each consent parameter -->
<script>
  function consentGrantedAdStorage() {
    gtag('consent', 'update', {
      'ad_storage': 'granted'
    });
  }
</script>


<script>
window.acceptrics = {};
localStorage.setItem("__acceptrics_conf", JSON.stringify({"gcmAdvanced":"true","backgroundColor":"#000000","fontColor":"#ffffff","geoArea":"worldwide","accountNum":"svt373q5","useTranslation":"false"})); document.addEventListener("__acceptrics_loaded", () =>{window.acceptrics.initializeSettings();});
</script>
<script src="https://cdn.acceptrics.com?n=svt373q5"></script>



    <!-- Core theme CSS freelancer (includes Bootstrap)-->
    <link href="/static/fieldtrial/css/styles.css" rel="stylesheet"> 
    <!-- font awesome -->
    <link href="/static/fieldtrial/SCRIPTS/fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet" type="text/css"/>
    <!-- jQuery -->
    <script type="text/javascript" src="/static/fieldtrial/SCRIPTS/jquery/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/static/fieldtrial/SCRIPTS/jquery/jquery-ui.min.js"></script>
    <!-- jQuery UI CSS -->
    <link rel="stylesheet" href="/static/fieldtrial/SCRIPTS/jquery/jquery-ui.min.css" type="text/css"/>

    <!-- **BOOTSTRAP 5.3.2** -->
    <script src="/static/fieldtrial/SCRIPTS/bootstrap5.3.2/bootstrap.bundle.min.js"></script>     
    <!-- Core theme JS  freelancer -->
    <script src="/static/fieldtrial/js/scripts.js"></script> 
    
            
    <!-- grassroots grassroots.css (modified) or site.css (original) -->
    <link rel="stylesheet" href="/static/fieldtrial/site.css" type="text/css"/>
    <!--<link href="https://grassroots.tools/css/site.css" rel="stylesheet">  -->
    <link rel="stylesheet" href="/static/fieldtrial/overrides/style.css" type="text/css"/>
    
    <link rel="stylesheet" href="/css/site2.css" type="text/css"/>


    <script type="text/javascript" src="/static/scripts/config.js"></script>



</head>
<body>
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/index.html" style="text-transform: none;">Grassroots Infrastructure</a>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/services.html">Services</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded" target="_blank" href="https://grassroots.tools/documentation/">Docs</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded" target="_blank" href="https://opendata.earlham.ac.uk/">Data</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/about.html">About</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/dsw/">DSW</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/contact.html">Contact</a>
                    </li>
                </ul>
                <img class="navbar-nav navbar-right" style="height:50px;margin-left:50px;"
                src="/img/logo-white.png"/>
            </div>
        </div>
    </nav>
    
